[phases.setup]
nixPkgs = ["nodejs_18"]

[phases.install]
cmds = ["npm ci --omit=dev"]

[phases.build]
cmds = [
  "NODE_OPTIONS='--max-old-space-size=4096' npm run build"
]

[start]
cmd = "npx docusaurus serve --host 0.0.0.0 --port $PORT --no-open"
